.battlefield-bg {
    position: relative;
}

.row {
    height: 5rem;
    width: 60rem;
    display: flex;
}

.battlefield-title-row {
    color: white;
    font-weight: 500;
    display: block;
    font-size: 4rem;
    width: 8rem;
    height: 5rem;
}

.battlefield-title {
    color: white;
    font-weight: 500;
    display: block;
    font-size: 4rem;
    width: 5rem;
    height: 5rem;
    text-align: center;
}

.signed {

}